* {
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 90%;
    max-width: 10000px;
    margin: 20px auto;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "header header header header header header"
        "menu menu menu menu menu menu"
        "nav descripcion1 descripcion1 descripcion1 descripcion1 aside"
        "nav descripcion2 descripcion2 descripcion2 descripcion2 aside"
        "fooder fooder fooder fooder fooder fooder";
}



.contenedor .header {
    grid-area: header;
}

.contenedor .menu{
grid-area: menu;
}

.contenedor .nav {
    grid-area: nav;
}

.contenedor .descripcion1 {
    grid-area: descripcion1;
}

.contenedor .descripcion2 {
    grid-area: descripcion2;
}

.contenedor .aside {

    grid-area: aside;
}

.contenedor .footer {
   
    grid-area: fooder;
}