* {
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 90%;
    max-width: 10000px;
    margin: 20px auto;
    background: whitesmoke;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "header header header"
        "menu menu menu"
        "Slider Slider Slider"
        "section1 section1 section1"
        "galeria galeria galeria"
        "fooder fooder fooder";
}

.contenedor .header {
    grid-area: header;
}

.contenedor .menu{
    grid-area: menu;
}


.contenedor .Slider {
    grid-area: Slider;
}

.contenedor .section1 {
    grid-area: section1;
}

.contenedor .galeria {
   
    color: black;
    grid-area: galeria;
}

.contenedor .footer {
    grid-area: fooder;
}