* {
    margin: 0;
    padding: 0;
}
.contenedor {
    width: 90%;
    max-width: 10000px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "header header header header header header"
        "menu menu menu menu menu menu"
        "nav section section section section section"
        "fooder fooder fooder fooder fooder fooder";
}
.contenedor .header {
    grid-area: header;

}
.contenedor .menu{
    grid-area: menu;
}
.contenedor .nav{
    grid-area: nav;
}
.contenedor .section {

    grid-area: section;
}
.contenedor .footer {
    grid-area: fooder;
}